// CSS Style Guide: http://codeguide.co/#css



$scheme    = hexo-config('scheme') ? hexo-config('scheme') : 'Muse';
$variables = base $scheme custom;
$mixins    = base $scheme custom;



// Variables Layer
// --------------------------------------------------
for $variable in $variables
  @import "_variables/" + $variable


// Mixins Layer
// --------------------------------------------------
for $mixin in $mixins
  @import "_mixins/" + $mixin;



// Common Layer
// --------------------------------------------------

// Scaffolding
@import "_common/scaffolding";

// Layout
@import "_common/outline";

// Components
@import "_common/components";


// Schemes Layer
// --------------------------------------------------
@import "_schemes/" + $scheme;



// Custom Layer
// --------------------------------------------------
@import "_custom/custom";

ul,
li {
  list-style: none;
}
.clearfix:after,
.clearfix:before {
  content: " ";
  display: table;
}
.clearfix:after {
  clear: both;
}
.img-box-ul {
  font-size: 0;
  diplay: flex;
  display: -webkit-flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
  padding: 0;
}
.img-box-ul li {
  display: flex;
  display: -webkit-flex;
  width: 31%;
  height: auto;
}
